<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.news.model.dao.NewsDao">

	<insert id="saveone" parameterType="News">
		INSERT INTO news
		VALUES(#{title}, #{originallink}, #{link}, #{description}, #{pubDate})
	</insert>
	
	<delete id="deleteAll">
		truncate news;
	</delete>
	
	<select id="getNews" resultType="News">
		select * from news
	</select>
	
</mapper>